!!! 5
html
  head
    title Lianna &amp; Nat
    link(href="css/styles.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="js/scripts.js")
  body
    #wrap
      nav
        include includes/nav
      .content.registry
        h1 Our Registry
        section.body
          .registry-list
            .col
              h2 Our registry listings:
              a(href="#") Amazon.com
              a(href="#") Williams-Sonoma
            .col
              h2 Alternative methods are listed below:
              a(href="#") Amazon Payments
              a(href="#") Google Wallet
              a(href="#") Chase QuickPay
                


        
          