!!! 5
html
  head
    title Lianna &amp; Nat
    link(href="css/styles.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="js/scripts.js")
  body
    #wrap
      nav
        include includes/nav
      .content.registry
        h1 Our Registry
        section.body
          .col.first
            h2 Our registry listings:
            ul.stores
              li: a.link-amazon(href="#") Amazon.com
              li.last: a.link-ws(href="#") Williams-Sonoma
          .col
            h2 Alternative methods are listed below:
            ul.stores
              li: a.link-ap(href="#") Amazon Payments
              li: a.link-google(href="#") Google Wallet
              li.last.tall: a.link-chase(href="#") Chase QuickPay
                


        
          