extends includes/master
block content
    section.body.rsvp
      p Please  RSVP as soon as possible. Just fill out the information below.  Please be sure include choice of dinner for each
        |person so you can have your preference. Otherwise, you will get a surprise dinner.
      form#rsvp-form(action="php/rsvp.php", method="POST")
        .pretty
          .error-message.dn
          .top-form
            .row
              label.large No. of Guests
              input#number.small.validate(name="guest_number", type="text")
            .row
              label.large Your Email
              input.validate(type="text", name="guest_email")
          .bot-form
            .row
              label Name
              input.guestName.validate(type="text", name="guest[0][name]")
              .meal-choice
                .meal.beef(data-meal="beef",title="Filet Mignon:<br> 7oz. filet served with a Cabernet Sauvignon Demi-Glaze") Beef
                .meal.chicken(data-meal="chicken",title="Tomato Sage Chicken:<br> Breaded Crisp Chicken Breast with a Tomato Butter Sauce infused with Basil and Sage") Chicken
                .meal.fish(data-meal="fish", title="Halibut Calabrese:<br> Pan-Seared and served with Fresh Tomatoes marinated in Balsamic Vinegar and Basil") Fish
                .meal.vegetarian(data-meal="veggie",title="Vegetable Lasagna:<br> Layered with Grilled Vegetables, Mozzarella, Ricotta, and Parmesan Cheese") Veggie
                .meal.kids-meal(data-meal="kids",title="Kids menu:<br> Chicken Fingers, French Fries, and Corn") Kids
              input.mealChoice.validate(type="hidden", name="guest[0][meal]")
        input.btn-submit(type="button", value="Submit")
