ul#main-nav
  li: a(href="the-wedding.html") The Wedding
  li: a(href="travel.html") Travel
  li: a#logo(href="/") Lianna &amp; Nat
  li: a(href="registry.html") Registry
  li: a(href="rsvp.html") RSVP