global-reset()

//Variables
$gray         = #e1e0e0
$gray-text    = #4d4d4d
$gray-hover   = #f0efef
$beige        = #f4f4f4
$beige-stroke = #e9e9e9


//Fonts
@font-face
    font-family 'Abraham'
    src url('../fonts/abrahamlincoln-webfont.eot')
    src url('../fonts/abrahamlincoln-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abrahamlincoln-webfont.woff') format('woff'),
         url('../fonts/abrahamlincoln-webfont.ttf') format('truetype'),
         url('../fonts/abrahamlincoln-webfont.svg#abraham_lincolnregular') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Lavanderia'
    src url('../fonts/lavanderia_regular-webfont.eot')
    src url('../fonts/lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lavanderia_regular-webfont.woff') format('woff'),
         url('../fonts/lavanderia_regular-webfont.ttf') format('truetype'),
         url('../fonts/lavanderia_regular-webfont.svg#lavanderia_regularregular') format('svg')
    font-weight normal
    font-style normal

//Base Styles
html
  height 100%
  background url(../img/flowers.png) repeat-x center bottom $gray

body
  font       14px/1.5 "Helvetica", "Arial", sans-serif
  background url(../img/bg.png) repeat-x 0 0
  color      $gray-text
  height     100%
  min-height 780px

#wrap
  width 1020px
  margin 0 auto

//Typography
h1 
  text-align  center
  font-family 'Lavanderia'
  font-size   36px
  color       $gray-text
  margin      40px 0 15px
h2
  font-family   "Abraham"
  font-size     26px
  margin-bottom 10px
strong 
  font-weight bold
  text-transform uppercase
em
  font-weight bold
a
  color $gray-text
  text-decoration none
  &:hover
    text-decoration underline
.offset
  text-indent 1em

//Nav
#main-nav
  width 100%  
  padding 50px 20px 13px
  font-family Abraham
  overflow hidden
  &>li
    float      left
    height     52px
    background url(../img/nav-bg.png) 100% 0 no-repeat
    &.nav-wedding
      width 200px
    &.nav-travel
      width 120px
    &.nav-logo
      width 360px
    &.nav-registry
      width 155px
    &.nav-rsvp
      width 180px
      background none
    &>a
      text-decoration none
      font-size       30px
      color           $gray-text
      text-align      center
      display         block
      line-height     52px
      &.active
      &:hover
        // background url(../img/nav-hover.png) center 0 no-repeat $gray-hover
        background $gray-hover

#logo
  width       262px
  height      68px
  background  url(../img/logo.png) no-repeat
  display     block
  text-indent -9999px
  margin-left 42px
  margin-top  -14px
  cursor      pointer

//Shared Subpage Components
.content
  clear both
.body
  width         890px
  margin        0 auto
  background    #fff
  padding       25px 15px
  box-sizing    border-box
  border-radius 2px
  position      relative
.card-wrap
  width 911px
  margin 0 auto
.card-top
  background url(../img/pink-top.png) no-repeat
  width      auto
  height     14px
.card-body
  background url(../img/pink-body.png) repeat-y
  width      auto
  padding    20px 28px
.card-bot
  background url(../img/pink-bot.png) no-repeat
  width      auto
  height     12px
.well
  background    $beige
  border        solid 1px $beige-stroke
  border-radius 5px
  overflow      hidden
  padding       10px
  box-shadow inset 0 1px 0 $beige-stroke
  margin 20px 0 0

.map
  float left
.info
  float right
  width 220px
  &>p
    margin-bottom 10px

//Home
.img-wrap
  margin 42px auto 0

//Wedding & Travel
.label-hotel
.label-rates
.label-parking
.label-reserve
.label-discount
.label-date
.label-time
.label-location
.label-attire
  padding-left 75px
  position     relative
  &:before
    font-weight bold
    content     ""
    position    absolute
    left        0
    font-size   12px


.label-hotel
  &:before
    content "HOTEL:"
.label-rates
  &:before 
    content "RATES:"
.label-parking
  &:before
    content "PARKING:"
.label-reserve
  &:before
    content "RESERVE:"
.label-discount
  &:before
    content "DISCOUNT:"
.label-date
  &:before
    content "DATE:"
.label-time
  &:before
    content "TIME:"
.label-location
  &:before
    content "LOCATION:"
.label-attire
  padding-left 110px
  &:before
    content "DRESS ATTIRE:"


//Registry
.registry
  .body
    height 365px
    &:before
      content    ""
      background url(../img/top-left-tab.png) no-repeat
      width      218px
      height     235px
      position absolute
      top -22px
      left -39px
    &:after
      content ""
      background url(../img/bot-right-tab.png) no-repeat
      width 286px
      height 194px
      position absolute
      bottom -23px
      right -32px

.col
  overflow     hidden
  position     relative
  z-index      1  
  float        left
  padding-left 50px
  &.first
    padding-left 70px
    background url(../img/registry-middle.png) no-repeat 100% center
    width 370px
.stores
  overflow hidden
  background url(../img/registry-top-shadow.png) no-repeat center 0
  width 310px
  &>li
    background url(../img/registry-underline.png) no-repeat center bottom
    height 80px
    clear both
    &.tall
      height 95px
    &.last
      background url(../img/registry-bot-shadow.png) no-repeat center bottom
.link-amazon
.link-ws
.link-chase
.link-ap
.link-google
  display block
  width 100%
  height 100%
  text-indent -9999px
.link-amazon
  background url(../img/store-amazon.png) no-repeat center 27px
.link-ws
  background url(../img/store-williams-sonoma.png) no-repeat center center
.link-chase
  background url(../img/store-chase.png) no-repeat center center
.link-ap
  background url(../img/store-amazon-payments.png) no-repeat center 27px
.link-google
  background url(../img/store-google-wallet.png) no-repeat center center





//Form
.row
  clear         both
  clearfix()
  margin-bottom 10px
  position relative
label
  float       left
  text-align  left
  line-height 36px
  margin-right 10px
input[type="text"]
  float      left
  background #f0f0f0
  border     solid 1px $beige-stroke
  width      370px
  height     36px
  padding    0 10px
  box-sizing border-box
  font-size  14px
  &:focus
    outline none
    background #fff
  &.small
    width 40px

.meal
  background   pink
  display      inline-block
  margin-right 10px
  cursor       pointer
  position     relative
  &.chosen
    background blue

//Buttons
.btn-rsvp
  display       block
  text-indent   -9999px
  background    url(../img/btn-rsvp.png) no-repeat
  width         142px
  height        43px
  margin-bottom 10px

//Tooltips
.tooltip
  position absolute
  z-index 1030
  display block
  visibility visible
  font-size 12px
  line-height 1.4
  opacity 0
  &.in
    opacity 0.9
  &.top
    margin-top -3px
    padding 5px 0
    .tooltip-arrow
      bottom 0
      left 50%
      margin-left -5px
      border-width 5px 5px 0
      border-top-color #000000
  &.bottom
    margin-top 3px
    padding 5px 0
    .tooltip-arrow
      top 0
      left 50%
      margin-left -5px
      border-width 0 5px 5px
      border-bottom-color #000000

.tooltip-inner
  max-width 200px
  padding 3px 8px
  color #000
  text-align left
  text-decoration none
  background-color #fff
  border-radius 4px
  border solid 1px #000

.tooltip-arrow
  position absolute
  width 0
  height 0
  border-color transparent
  border-style solid



